@{
    ViewData["Title"] = "Datasikkerhed";
}
<h1>@ViewData["Title"]</h1>

<h2>Rollespilsforeningen Føniks bekymrer sig om din datasikkerhed.
    </h2>
<p>
    Oplysninger opnået ifm. afholdelsen af et megagame vil blive slettet senest 5 hverdage efter endt scenarie.

</p>
<p>
    Der vil til nogle arrangementer blive optaget film og taget fotos, som vil blive brugt til promovering.
    Det er derfor deltagere aktivt skal tage stilling til, om vi må bruge deres billeder i en reklame sammenhæng.
</p>
<p>
    - Megagame teamet
</p>