
@{
    ViewData["Title"] = "Heir";
}







<header>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/AegonFront.css" rel="stylesheet" />
</header>
<body>
<h1>Heir</h1>

    <div class="container">
        <div class="row" style="margin:10px;">
            <div class="col-6">
                <p class="center">
                    The Adventurous Heir
                    Play this role if you want to support
                    your teammates and bounce around to
                    different tables as needed each turn.
                    You will boost armies, improve
                    alliances, uncover dirty secrets, and play
                    the only role on your team that can
                    quest after powerful lost relics. This role
                    does best with players with good skills
                    in creativity, knowledge of all other
                    roles, and the ability to manage
                    priorities.
                    


                </p>
            </div>
            <div class="col-6">
                <img class="center" src="~/img/Tywin.jpeg" />
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px;">

        <div class="col-6">
            <img class="center" src="~/img/cersei.jpg" />
        </div>
        <div class="col-6">
            <p class="center">
                The Heir can sometimes be stressful and
                overwhelming to play as they must
                juggle the timing of all four tables at
                once, frantically running across the
                room to be where they are needed most.
                At the Citadel the Heir can help with
                different useful actions, but as a team
                you need to decide what benefits
                outweigh the others between Relics,
                Secrets, and Dark Wings Dark Words
                cards.
            </p>
        </div>
    </div>
    <div style="background-color:coral" class="container-fluid">
        <div class="row" style="height:200px;">
            <div class="col-1"></div>

            <div class="col-5 ">
                <img style="float:right; padding:10px; height:200px; width:auto" src="~/img/littlefinger.jpg" />
            </div>
            <div class="col-5 " style="margin:10px;">
                <p style="color:white; font-size:24px">At Spille Lord</p>
                <p style="color:white">Du er vild</p>
                <p style="color:white">Du er sej</p>
                <p style="color:white">du er dejlig</p>

            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-1" style="margin-top:10px;">
            <a href="https://www.foeniks.org" class="btn btn-info center" border:hidden;" role="button">Tilmeld</a>
        </div>
        <div class="col-6"></div>
    </div>
    <section class="bg-Primary row container-fluid">
        hullugbu
    </section>

</body>






