
@{
    ViewData["Title"] = "Index";
}
<header>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/AegonFront.css" rel="stylesheet" />
</header>

<body>
    <h1 style="font-size:78px; text-align:center">Aegon's Conquest</h1>
    <div class="row" >
        <div class="col-5"style="background-image: linear-gradient(to bottom right, #38040E, #640D14);">
            <h2 class="H2Jak" style="margin-top: 5px; color: floralwhite">Event Dato:</h2>
            <h2 class="H2Jak" style="margin-top: -10px;
        color: floralwhite;
        font-size: 20px
">15/08-2020 kl. 11-21</h2>
            <h2 class="H2Jak" style="color:floralwhite; font-size:14px">På Nørregade 60, 5000 Odense C</h2>
            <h2 class="H2Jak" style="margin-top:20px; color:floralwhite">Sidste Tilmelding:</h2>
            <h2 class="H2Jak" style="margin-top: -10px; margin-bottom: 20px; color: floralwhite; font-size: 20px">1. August kl. 23:59</h2>
            <h3 class="H3Jak">pris: 50 kr</h3>
            <p class="H2Jak" style="color:floralwhite">Min./Max. spillere: 24/36</p>
        </div>
        <div class="col-7">
            <img style=" border-radius:0px;" src="~/img/Eksempelplay.png" />
        </div>
    </div>
    <div class="col-12" style="text-align:center; margin:10px;">
        <h1>A Megagame for 36 players </h1>
    </div>
    <div class="row">
        <div class="col-4">
            <h5 class="H3Jak">A continent at war</h5>
            <p style="font-family:'Segoe UI Symbol'">
                It is the Age of Conquest, three centuries
                before the events of Game of Thrones.
                Westeros stands as a fractured
                continent, with seven warring kingdoms
                jostling each other for power and
                dominance. Now, a new enemy has
                invaded from Old Valyria, bringing
                with them fire and blood. The time is
                ripe to establish yourselves as the
                strongest Kingdom of the realm and
                unite Westeros under your banner.
                Claim victory in this continent-spanning
                war and forge the Iron Throne!
                
            </p>
        </div>
        <div class="col-4">
            <h5 class="H3Jak">What's it about?</h5>

            <p style="font-family:'Segoe UI Symbol'">

                Aegon’s Conquest is a medieval fantasy
                themed tabletop game created by DDE
                Adventures. Each team in Aegon's
                Conquest represents one of eight lordly
                Houses of the fractious continent of
                Westeros, each portrayed by four major
                personalities: the Lord, the Heir, the
                Knight, and the Maester. The goal of
                each team is to claim the Iron Throne of
                Westeros by having the most Power at
                the end of the game. Power is gained by
                conquering neighboring lands and
                uncovering ancient relics. Power is lost
                when a House betrays another by
                revealing one of their dark secrets.

            </p>
        </div>
        <div class="col-4">
            <h5 class="H3Jak">What's a Megagame?</h5>

            <p style="font-family:'Segoe UI Symbol'">

                Aegon’s Conquest is also a megagame. A
                megagame is a tabletop game involving
                a large number of players and
                administrators whose interactions with
                each other contribute in aggregate to the
                greater overarching story. Aegon’s
                Conquest is a strictly competitive
                endeavor with tightly defined rules and
                player options. The game aligns its
                players into eight major factions of four
                players each with the ultimate goal to
                have the most points by the end. It
                encourages face-to-face diplomacy,
                tactical play, secret dealings, betrayal,
                and heartfelt roleplaying.
            </p>
        </div>
    </div>

</body>
