
@{
    ViewData["Title"] = "Index";
}
<header>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/AegonFront.css" rel="stylesheet" />
</header>

<body>
    <h1>Aegon's Conquest</h1>
    <h2 class="H2Jak">15/08 - 2020 kl. 11 - 21</h2>
    <h2 class="H2Jak">Nørregade 60 5000 Odense C</h2>
    <h2 class="H2Jak">Sidste Tilmelding: 1. August 23:59</h2>
    <h3 class="H3Jak">pris: 50 kr</h3>
    <p class="H2Jak">Min. spillere: 24</p>
    <p class="H2Jak">Max. spillere: 36</p>



</body>
