
@{
    ViewData["Title"] = "Knight";
}

<header>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/AegonFront.css" rel="stylesheet" />
</header>
<body>
    <h1>Knight</h1>

    <div class="container">
        <div class="row" style="margin:10px;">
            <div class=" col-md-6 col-sm-12">

                <p class="center">The Cunning Knight</p>
                <p class="center" style="font-family:'Segoe UI Historic';">
                    Play this role if you want the most
                    tactical experience in the thick of
                    military actions across the face of
                    Westeros. You will lead armies to attack,
                    coordinate supplies, lay sieges, and raze
                    villages to the ground. This role does
                    best with players with good skills in
                    logistics and resource management.
                </p>
            </div>
            <div class=" col-md-6 col-sm-12">

                <img class="center" src="~/img/Sackofhighgarden.jpg" />
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px;">

        <div class=" col-md-6 col-sm-12">

            <img class="center" src="~/img/StarkBoi.jpg" />
        </div>
        <div class=" col-md-6 col-sm-12">

            <p class="center">Playstyle</p>
            <p class="center" style="font-family:'Segoe UI Historic';">
                The Knight is the military power behind
                a House. They direct armies in the field
                to attack, defend, and restore order to
                lawless lands. The Knight can
                sometimes be stressful and
                overwhelming to play as the pressure is
                on them from all other team members to
                win battles and get Resources flowing.
            </p>
        </div>
    </div>
    <div style="background-image: linear-gradient(to bottom right, #38040E, #640D14);
        width: 171.7%;
        margin-left: -36%
    " class="container-fluid">
        <div class="row" style="height:350px;">
            <div class="col-1"></div>

            <div class="col-md-5 d-none d-md-block ">
                <img style="margin-top:25px; float:right; margin-right: 15%; height:300px; width:auto; border-radius:10%" src="~/img/Bolton2.jpeg" />
            </div>
            <div class="col-md-5 col-sm-12" style="margin-top:20px; margin-left:8%">
                <p class="text-center text-md-left" style="color:white; font-size:24px">Play a Knight if you:</p>
                <p class="text-center text-md-left" style="color:white; font-family:'Segoe UI Historic'; font-size:16px">✓   Want to command armies and lead them to victory</p>
                <p class="text-center text-md-left" style="color:white; font-family:'Segoe UI Historic'; font-size:16px; margin-top:-15px">✓   Want a tactical and logistical challenge</p>
                <p class="text-center text-md-left" style="color:white; font-family:'Segoe UI Historic'; font-size:16px; margin-top:-15px">✓   Want to be part of the flashiest table of the game</p>
                <div class="col-md-1 col-12 text-center text-md-left" style="margin-top:10px;">
                    <a asp-area="" asp-controller="AegonsConquest" asp-action="SignUp" class="btn btn-info" style="
                            border:hidden;
                            margin-left: -15px;
                            width: 300px;
                            background-color: white;
                            color: #38040E;
                            font-family: 'Segoe UI';
                            font-weight: bold" role="button">Tilmeld Dig Her</a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

</body>


