
@{
    ViewData["Title"] = "Knight";
}

<header>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/AegonFront.css" rel="stylesheet" />
</header>
<body>
<h1>Knight</h1>

    <div class="container">
        <div class="row" style="margin:10px;">
            <div class="col-6">
                <p class="center">
                    The Cunning Knight
                    Play this role if you want the most
                    tactical experience in the thick of
                    military actions across the face of
                    Westeros. You will lead armies to attack,
                    coordinate supplies, lay sieges, and raze
                    villages to the ground. This role does
                    best with players with good skills in
                    logistics and resource management.
                    
                </p>
            </div>
            <div class="col-6">
                <img class="center" src="~/img/Tywin.jpeg" />
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px;">

        <div class="col-6">
            <img class="center" src="~/img/cersei.jpg" />
        </div>
        <div class="col-6">
            <p class="center">
                The Knight is the military power behind
                a House. They direct armies in the field
                to attack, defend, and restore order to
                lawless lands. The Knight can
                sometimes be stressful and
                overwhelming to play as the pressure is
                on them from all other team members to
                win battles and get Resources flowing.
            </p>
        </div>
    </div>
    <div style="background-color:coral" class="container-fluid">
        <div class="row" style="height:200px;">
            <div class="col-1"></div>

            <div class="col-5 ">
                <img style="float:right; padding:10px; height:200px; width:auto" src="~/img/littlefinger.jpg" />
            </div>
            <div class="col-5 " style="margin:10px;">
                <p style="color:white; font-size:24px">At Spille Lord</p>
                <p style="color:white">Du er vild</p>
                <p style="color:white">Du er sej</p>
                <p style="color:white">du er dejlig</p>

            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-1" style="margin-top:10px;">
            <a href="https://www.foeniks.org" class="btn btn-info center" border:hidden;" role="button">Tilmeld</a>
        </div>
        <div class="col-6"></div>
    </div>
    <section class="bg-Primary row container-fluid">
        hullugbu
    </section>

</body>


