
@{
    ViewData["Title"] = "Lord";
}
    <header>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
        <link href="~/css/AegonFront.css" rel="stylesheet" />
    </header>
<body>
    <h1>Lord</h1>

    <div class="container">
        <div class="row" style="padding: 30px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: 1%
    ">
            <div class="col-6">
                <p class="center">The Mastermind Lord</p>
                <p class="center" style="font-family:'Segoe UI Historic'">
                    Play this role if you want to direct the
                    overall, big picture strategy of your
                    House and be the linchpin that holds
                    everyone together. You will make and
                    break alliances, barter goods, manage
                    the treasury, and reveal uncovered
                    secrets about other Houses. 
                </p>
            </div>
            <div class="col-6">
                <img class="center" src="~/img/Tywin.jpeg" />
            </div>
        </div>
    </div>

        <div class="row" style="        
        padding: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 1%">

            <div class="col-6">
                <img class="center" src="~/img/cersei.jpg" />
            </div>
            <div class="col-6">
                <p class="center">Playstyle</p>
                <p class="center" style="font-family:'Segoe UI Historic';">
                    This role does best with players with good skills
                    in negotiation and diplomacy.
                    The Lord can sometimes be stressful
                    and overwhelming to play as they must
                    maintain schemes within schemes when
                    dealing with the other Houses. They are
                    always angling for the optimum
                    diplomatic strategy to bring down their
                    enemies and win the long con.
                </p>
            </div>
        </div>
        <div style="background-image: linear-gradient(to bottom right, #38040E, #640D14);
        width: 171.7%;
        margin-left: -36%;
        margin-top: 100px
    " class="container-fluid">
            <div class="row" style="height:350px;">
                <div class="col-1"></div>

                <div class="col-5 ">
                    <img style="margin-top:25px; float:right; margin-right: 15%; height:300px; width:auto; border-radius:10%" src="~/img/littlefinger.jpg" />
                </div>
                <div class="col-5 " style="margin-top:20px; margin-left:8%">
                    <p style="color:white; font-size:24px">Play Lord if you:</p>
                    <p style="color:white; font-family:'Segoe UI Historic'; font-size:16px">✓   Want to command the overall effort of your house</p>
                    <p style="color:white; font-family:'Segoe UI Historic'; font-size:16px; margin-top:-15px">✓   Make underhanded deals and plotting in the shadows</p>
                    <p style="color:white; font-family:'Segoe UI Historic'; font-size:16px; margin-top:-15px">✓   Unleash terrible secrets on your opponents</p>
                    <div class="col-1" style="margin-top:10px;">
                         <a asp-area="" asp-controller="AegonsConquest" asp-action="SignUp" class="btn btn-info center" style="
                            border:hidden;
                            margin-left: -15px;
                            width: 300px;
                            background-color: white;
                            color: #38040E;
                            font-family: 'Segoe UI';
                            font-weight: bold" role="button">Tilmeld Dig Her</a>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>

</body>
