
@{
    ViewData["Title"] = "Maester";
}




<header>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/AegonFront.css" rel="stylesheet" />
</header>
<body>
    <h1>Maester</h1>

    <div class="container">
        <div class="row" style="margin:10px;">
            <div class="col-6">
                <p class="center">The Studious Maester</p>
                <p class="center" style="font-family:'Segoe UI Historic';">
                    Play this role if you want to quietly
                    support the rest of your team and
                    covertly hinder the enemy. You will
                    uncover dark secrets, arrange
                    clandestine marriages, find legends of
                    forgotten relics, and forge new links on
                    the heavy chain of knowledge.This role
                    does best with players with good skills
                    in understanding probabilities and
                    optimizing choices.
                </p>
            </div>
            <div class="col-6">
                <img class="center" src="~/img/Luwin2.png" />
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px;">

        <div class="col-6">
            <img class="center" src="~/img/Pycelle2.png" />
        </div>
        <div class="col-6">
            <p class="center">Playstyle</p>
            <p class="center" style="font-family:'Segoe UI Historic';">
                The Maester is an easy role to play, but a
                very challenging role to master. The
                intensity of the action tends to be
                relaxed, but in its place is cold,
                calculated planning with multi-stage,
                long-term strategy. To excel at being a
                Maester a player needs to both
                manipulate the odds of dice-rolling in
                their favor to apply the best results
                when most needed, and exploit the
                patterns of Traits through the
                generations of Bloodlines Cards.
            </p>
        </div>
    </div>
    <div style="background-image: linear-gradient(to bottom right, #38040E, #640D14);
        width: 171.7%;
        margin-left: -36%
    " class="container-fluid">
        <div class="row" style="height:350px;">
            <div class="col-1"></div>

            <div class="col-5 ">
                <img style="margin-top:25px; float:right; margin-right: 15%; height:300px; width:auto; border-radius:10%" src="~/img/HandoftheKingTyrionLannister2.png" />
            </div>
            <div class="col-5 " style="margin-top:20px; margin-left:8%">
                <p style="color:white; font-size:24px">Play a Maester if you</p>
                <p style="color:white; font-family:'Segoe UI Historic'; font-size:16px">✓   Love bringing new toys and tech for other players to play with</p>
                <p style="color:white; font-family:'Segoe UI Historic'; font-size:16px; margin-top:-15px">✓   Want a more relaxed role in your house</p>
                <p style="color:white; font-family:'Segoe UI Historic'; font-size:16px; margin-top:-15px">✓   Like to play a matchmaker, choosing which Heir should marry whom</p>
                <div class="col-1" style="margin-top:10px;">
                     <a asp-area="" asp-controller="AegonsConquest" asp-action="SignUp" class="btn btn-info center" style="
                            border:hidden;
                            margin-left: -15px;
                            width: 300px;
                            background-color: white;
                            color: #38040E;
                            font-family: 'Segoe UI';
                            font-weight: bold" role="button">Sign Up here</a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>


</body>





