
@{
    ViewData["Title"] = "NobleHouses";
}

<header>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/AegonFront.css" rel="stylesheet" />
</header>

<h1>Noble Houses</h1>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>House Targaryen</h2>
        <p style="font-family:'Segoe UI'">
            Your noble House hails from your
            ancestral home of Dragonstone,
            established 200 years ago as the
            westernmost outpost of the Valyrian
            Empire. Twelve years ago your
            grandfather, Aenar the Exiled, moved
            your entire family to this far-flung
            colony at the behest of your mother,
            Daenys the Dreamer. Now Valyria is
            destroyed and you command the only
            three dragons known in the world.
            You rule from the dark castle of
            Dragonstone, located in Blackwater Bay.
        </p>
        <p style="font-family:'Segoe UI'">
            You have made a bustling encampment
            at the site of your landing on the
            continent, with local lords already
            bending their knees to you. Your most
            powerful bannermen are Houses
            Velaryon, Darklyn, Rosby, and Thorne.
            Your House colors are black and red.
            Sigils showing fire, the seas, and
            dragons are common among your
            people. Bastards from your lands are
            named Waters.
        </p>
        <p style="font-family:'Segoe UI'">
            The House-specific bonuses of the
            Targaryens offer incentives in a wide
            range of playstyles - aggression,
            expansion, delving, gold, and alliances.
        </p>
    </div>
    <div class="col-md-6 col-sm-12">
        <img style="max-width:250px" src="~/img/Houses/House-Targaryen-Main-Shield.PNG.png" />
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-sm-12">
        <img style="max-width:250px; float:right;" src="~/img/Houses/House-Arryn-Main-Shield.PNG.png" />
    </div>
    <div class="col-md-6 col-sm-12">
        <h2>House Arryn</h2>
        <p style="font-family:'Segoe UI'">
            Your noble House rules over the
            Kingdom of the Vale, established over
            6,000 years ago by your distant ancestor,
            Ser Artys Arryn the Falcon Knight,
            himself descended from the legendary
            Winged King. Artys Arryn is said to
            have flown upon a huge falcon and had
            armies of eagles at this command. To
            this day, the Vale is known throughout
            the realm for its soaring peaks and
            impenetrable mountain strongholds.
        </p>
        <p style="font-family:'Segoe UI'">
            You rule from the most defensible castle
            in the Seven Kingdoms, the
            impenetrable Eyrie, located at the top of
            the Giant’s Lance Peak in the Mountains
            of the Moon. You rule over the hardiest
            warriors of the realm with many vassal
            lords. Your most powerful bannermen
            are Houses Royce, Hardyng, Corbray,
            and Waynwood.
            Your House colors are blue and white.
            Sigils showing eagles, giants,
            mountains, and the open skies are
            common among your people. Bastards
            from your lands are named Stone.
        </p>
        <p style="font-family:'Segoe UI'">
            House Arryn sports special abilities
            mostly related to being defensive and
            protective, walling up in their
            impenetrable mountain passes and
            strongholds.
        </p>

    </div>

</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>House Stark</h2>
        <p style="font-family:'Segoe UI'">
            Your noble House rules over the
            Kingdom of the North, established over
            8,000 years ago by your distant ancestor
            Brandon the Builder in the Age of
            Heroes. Brandon is said to have
            travelled the length and breadth of
            Westeros constructing marvels of
            engineering, including Storm’s End, the
            High Tower, and the Wall.


        </p>
        <p style="font-family:'Segoe UI'">
            You rule from the oldest castle in the
            Seven Kingdoms, the massive, brooding
            Castle Winterfell, located on the White
            Knife river at the edge of the Wolf’s
            Wood. You rule over the most stoic and
            hardy folk of the realm, known for their
            long memories and deep loyalties. Your
            most powerful bannermen are Houses
            Bolton, Reed, Manderly, and Umber.
            Your House colors are grey and white.
            Sigils showing snows, tall trees, and
            wolves are common among your
            people. Bastards from your lands are
            named Snow.
        </p>
        <p style="font-family:'Segoe UI'">
            The Starks have powerful Housespecific
            effects that apply mostly to the
            Winter Season and Lumber locations,
            encouraging a playstyle that rests on
            manipulating the Seasons.
        </p>
    </div>
    <div class="col-md-6 col-sm-12">
        <img style="max-width:250px" src="~/img/Houses/House-Stark-Main-Shield.PNG.png" />
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-sm-12">
        <img style="max-width:250px; float:right;" src="~/img/Houses/1200px-House_Hoare.svg.png" />
    </div>
    <div class="col-md-6 col-sm-12">
        <h2>House Arryn</h2>
        <p style="font-family:'Segoe UI'">
            Your noble House rules over the
            Kingdom of the Isles and Rivers,
            established over 8,000 years ago by your
            distant ancestor The Grey Kraken in the
            Age of Heroes. Your people are known
            as plunderers and pirates throughout
            your history. In more recent times, your
            House has used its swift longboats to
            conquer the plentiful lands surrounding
            the Trident river.

            In the published lore of A Song Of Ice &
            Fire, House Hoare is one of three
            monarchies which are extinguished
            during the Conquest, to be replaced by
            their close bannermen House Greyjoy.
            Show the world your prowess and
            rewrite the books in this alternate
            version of history!

        </p>
        <p style="font-family:'Segoe UI'">
            You rule from the largest castle in the
            Seven Kingdoms, the fearsome fortress
            known as Harrenhal, located on the
            shores of the God’s Eye inland sea. You
            rule over the most fierce and hard-bitten
            reavers in the Seven Kingdom. Your
            most powerful bannermen are Houses
            Greyjoy, Tully, Harlaw, and Frey.
            Your House colors are black and blue.
            The sigils on your banner show the
            extent of your vast realm; the shores of
            the iron isles, the tall pines of Bear
            Island, and the fruits and ravens of the
            Reach that are terrorized by your
            longships. Bastards from your lands are
            named Rivers.

        </p>
        <p style="font-family:'Segoe UI'">
            House Hoare enjoys special abilities
            which reward players for stealing from,
            raiding, and pillaging their neighbors.
        </p>

    </div>

</div>



<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>House Gardener</h2>
        <p style="font-family:'Segoe UI'">
            Your noble House rules over the
            Kingdom of the Reach, established over
            8,000 years ago by your distant ancestor
            Garth Greenhand in the Age of Heroes.
            Garth Greenhand is said to have
            travelled the realms of Westeros,
            making the fields and flowers bloom
            green with his passing. To this day, the
            fertile fields of the Reach provide much
            of the food to the other kingdoms of the
            realm through trade.
        </p>
        <p style="font-family:'Segoe UI'">
            You rule from the most beautiful castle
            in the Seven Kingdoms, the lush palace
            of Highgarden, located along the river
            Mander. You rule over the most
            populated Kingdom, with many vassal
            lords. Your most powerful bannermen
            are Houses Tyrell, Hightower,
            Redwyne, and Tarly.
            Your House colors are green and white.
            Sigils showing roses, thorns, huntsmen,
            and the bounty of the realm are
            common among your people. Bastards
            from your lands are named Flowers.

            In the published lore of A Song Of Ice &
            Fire, House Gardener is one of three
            monarchies which are extinguished
            during the Conquest, to be replaced by
            their close bannermen House Tyrell.
            Show the world your prowess and
            rewrite the books in this alternate
            version of history!

        </p>
        <p style="font-family:'Segoe UI'">
            House Gardener offers powerful game
            mechanics effects that apply mostly to
            the Summer Season and Grain locations,
            riding a wave of influence with the

        </p>
    </div>
    <div class="col-md-6 col-sm-12">
        <img style="max-width:250px" src="~/img/Houses/House-Gardener-Main-Shield.PNG.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <img style="max-width:250px; float:right;" src="~/img/Houses/House-Lannister-Main-Shield.PNG.png" />
    </div>
    <div class="col-md-6 col-sm-12">
        <h2>House Lannister</h2>
        <p style="font-family:'Segoe UI'">
            Your noble House rules over the
            western Kingdom of the Rock,
            established over 8,000 years ago by your
            distant ancestor Lann the Clever in the
            Age of Heroes. Lann is said to have
            swindled the Rock, a mountain three
            times the height of the Wall and full of
            veins of gold, from the original Casterly
            family. To this day, your kingdom
            mines massive amounts of gold that is
            traded across the world.
        </p>
        <p style="font-family:'Segoe UI'">
            You rule from the sprawling castle built
            into Casterly Rock, a network of
            twisting underground tunnels and caves
            larger than any known aboveground
            city. You rule over the richest Kingdom,
            with many vassal lords. Your most
            powerful bannermen are Houses
            Tarbeck, Reyne, Payne, and Clegane.
            Your House colors are crimson and
            gold. Sigils showing mountains, lions,
            and other great predators are common
            among your people. Bastards from your
            lands are named Hill.

        </p>
        <p style="font-family:'Segoe UI'">
            Play this House if you want to have
            advantages on gaining more Gold and
            being smart about it.
        </p>

    </div>

</div>





<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>House Martell</h2>
        <p style="font-family:'Segoe UI'">
            Your noble House rules over the
            Kingdom of Dorne, established over 700
            years ago by your ancestor Queen
            Nymeria of the Rhoynar. Nymeria is
            said to have had 10,000 ships built to
            save her people and flee the wrath of the
            Dragonlords of Valyria. The people of
            Dorne are culturally very different than
            the rest of Westeros; hot-blooded,
            licentious, and matriarchal in terms of
            succession.
        </p>
        <p style="font-family:'Segoe UI'">
            You rule from the exotic fortress of
            Sunspear, located along the coast of the
            Narrow Sea on the Greenblood river.
            You rule over the least populated, but
            most dangerous, Kingdom. Your most
            powerful bannermen are Houses
            Yronwood, Dayne, Manwoody, and
            Wyl.
            Your House colors are brown and red.
            Sigils showing sand, sun, lemons, and
            the blistering sun are common among
            your people. Bastards from your lands
            are named Sand.
        </p>
        <p style="font-family:'Segoe UI'">
            The special abilities of House Martell
            welcome a playstyle that allows you to
            hinder and frustrate your enemies at
            every turn, as well as manipulate
            Bloodlines.

        </p>
    </div>
    <div class="col-md-6 col-sm-12">
        <img style="max-width:250px" src="~/img/Houses/House-Martell-Main-Shield.PNG.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <img style="max-width:250px; float:right;" src="~/img/Houses/House-Baratheon-Main-Shield.PNG.png" />
    </div>
    <div class="col-md-6 col-sm-12">
        <h2>House Durandon</h2>
        <p style="font-family:'Segoe UI'">
            Your noble House rules over the
            Kingdom known as The Stormlands,
            established over 8,000 years ago by your
            distant ancestor Durran Godsgrief in the
            Age of Heroes. Durran Godsgrief is said
            to have loved the Storm God’s daughter,
            marrying her and building a great castle
            to resist the wrath of the gods. To this
            day, the thick forests of the Stormlands
            are hammered by rain and winds unlike
            any others in the Seven Kingdoms.
            
        </p>
        <p style="font-family:'Segoe UI'">
            You rule from the strongest castle in the
            Seven Kingdoms, the impenetrable
            fortress of Storm’s End, located along
            Shipbreaker Bay. Your family is known
            for their fierceness in battle and
            aggressive conquests. Your most
            powerful bannermen are Houses
            Dondarrion, Connington, Tarth, and
            Lonmouth.
            Your House colors are gold and black.
            Sigils showing storms, deer, and
            powerful beasts are common among
            your people. Bastards from your lands
            are named Storm.
            In the published lore of A Song Of Ice &
            Fire, House Durrandon is one of three
            monarchies which are extinguished
            during the Conquest, to be replaced by
            their close bannermen House Baratheon.
            Show the world your prowess and
            rewrite the books in this alternate
            version of history!


        </p>
        <p style="font-family:'Segoe UI'">
            House Durrandon is intended for
            players who want to move aggressively
            and storm the continent.
        </p>

    </div>

</div>

