
@{
    ViewData["Title"] = "Rules";
}
    <header>

        <link href="~/css/OtherThings.css" rel="stylesheet" />
    </header>
<h1>Rules</h1>
<div>
    <a href="~/pdf/RulesForLords.pdf">
        <p>The Rules For A Lord</p></a>
    <a href="~/pdf/RulesForKnights.pdf"><p>The Rules For A Knight</p> </a>
    <a href="~/pdf/RulesForMaesters.pdf"><p>The Rules For A Maester </p></a>
    <a href="~/pdf/RulesForHeirs.pdf"> <p>The Rules For An Heir</p></a>
</div>