
@{
    ViewData["Title"] = "Tilmelding og Kontakt";
}
    <header>
        
        <link href="~/css/OtherThings.css" rel="stylesheet" />
    </header>
<h1>Tilmelding og Kontakt</h1>
<div>
    <p>Spillere melder sig helst til som et helt hus af gangen.</p>
    <p>Brug evt. facebook til at finde andre folk, du kan danne hold med, hvis du ikke allerede har nogen</p>

    <p>
        Der skal være minimum tre spillere på et hus, men helst fire, idet Heir-rollen udgår ved kun tre spillere.
    </p>
    <p>
        Ved klik på nedenstående link, åbner en google-form, du skal udfylde med dit eget og dine holdkammeraters navne, email og tlf. numre.
        Vi behøver kun en enkelt tilmelding pr. hold :)
    </p>
    <p>
        Herefter skal I prioritere, hvilke huse I ønsker at tilhøre. vi gør hvad vi kan for at akkomodere folks ønsker,
        men da vi logistisk skal have det til at gå op, kan det være vi er nødt til at gå på kompromis.
    </p>
    <p>
        Hver af jer skal tage aktivt stilling til, om I har noget imod vi bruger film taget af jer til fremtidig promovering.
    </p>
    <p>
        Slutteligt overføres 25 kr pr. mand til mobile pay:
        94660
    </p>
</div>
<div></div>
<h1>Tilmeld dig her!</h1>
<a href="https://forms.gle/AsihD8sh5Zkd7yMN8" class="btn btn-info">Tilmelding</a>

<div>
    <h2>
        Kontakt
    </h2>
    <p>
        Ved spørgsmål eller andre henvendelser kan vi kontaktes på:
        takana@exelion.dk
    </p>
</div>