
@{
    ViewData["Title"] = "Thanks";
}
<header>

    <link href="~/css/OtherThings.css" rel="stylesheet" />
</header>
<h1>Acknowledgements</h1>
<p>Tak til C. S. Ross et al, den oprindelige skaber af spillet, for at lægge al fodarbejdet og gøre det nemmere at være control</p>
<p>Tak til controls'ne. Uden jeres hjælp var dette ikke blevet til noget!</p>
<p>Tak til Føniks for at være totalt vilde og sponsorere denne sindssyge idé</p>


